In [1]:
from scipy.io import arff
import pandas as pd
import numpy as np

In [2]:
arff_file_path = 'D:\\Data Science\\Datasets\\Machine Learning\\Projects\\Multiple_files\\02_Classification_on_the_credit_g_dataset\\dataset_31_credit_g.arff'

In [3]:
data, meta = arff.loadarff(arff_file_path)

In [4]:
df = pd.DataFrame(data)

In [5]:
df.head()

,checking_status,duration,credit_history,purpose,credit_amount,savings_status,employment,installment_commitment,personal_status,other_parties,...,property_magnitude,age,other_payment_plans,housing,existing_credits,job,num_dependents,own_telephone,foreign_worker,class
0,b'<0',6.0,b'critical/other existing credit',b'radio/tv',1169.0,b'no known savings',b'>=7',4.0,b'male single',b'none',...,b'real estate',67.0,b'none',b'own',2.0,b'skilled',1.0,b'yes',b'yes',b'good'
1,b'0<=X<200',48.0,b'existing paid',b'radio/tv',5951.0,b'<100',b'1<=X<4',2.0,b'female div/dep/mar',b'none',...,b'real estate',22.0,b'none',b'own',1.0,b'skilled',1.0,b'none',b'yes',b'bad'
2,b'no checking',12.0,b'critical/other existing credit',b'education',2096.0,b'<100',b'4<=X<7',2.0,b'male single',b'none',...,b'real estate',49.0,b'none',b'own',1.0,b'unskilled resident',2.0,b'none',b'yes',b'good'
3,b'<0',42.0,b'existing paid',b'furniture/equipment',7882.0,b'<100',b'4<=X<7',2.0,b'male single',b'guarantor',...,b'life insurance',45.0,b'none',b'for free',1.0,b'skilled',2.0,b'none',b'yes',b'good'
4,b'<0',24.0,b'delayed previously',b'new car',4870.0,b'<100',b'1<=X<4',3.0,b'male single',b'none',...,b'no known property',53.0,b'none',b'for free',2.0,b'skilled',2.0,b'none',b'yes',b'bad'

In [6]:
df = df.applymap(lambda x: x.decode('utf-8') if isinstance(x, bytes) else x)

In [7]:
df.head()

,checking_status,duration,credit_history,purpose,credit_amount,savings_status,employment,installment_commitment,personal_status,other_parties,...,property_magnitude,age,other_payment_plans,housing,existing_credits,job,num_dependents,own_telephone,foreign_worker,class
0,<0,6.0,critical/other existing credit,radio/tv,1169.0,no known savings,>=7,4.0,male single,none,...,real estate,67.0,none,own,2.0,skilled,1.0,yes,yes,good
1,0<=X<200,48.0,existing paid,radio/tv,5951.0,<100,1<=X<4,2.0,female div/dep/mar,none,...,real estate,22.0,none,own,1.0,skilled,1.0,none,yes,bad
2,no checking,12.0,critical/other existing credit,education,2096.0,<100,4<=X<7,2.0,male single,none,...,real estate,49.0,none,own,1.0,unskilled resident,2.0,none,yes,good
3,<0,42.0,existing paid,furniture/equipment,7882.0,<100,4<=X<7,2.0,male single,guarantor,...,life insurance,45.0,none,for free,1.0,skilled,2.0,none,yes,good
4,<0,24.0,delayed previously,new car,4870.0,<100,1<=X<4,3.0,male single,none,...,no known property,53.0,none,for free,2.0,skilled,2.0,none,yes,bad

In [8]:
df.shape

(1000, 21)

In [9]:
col = df.columns
for i in col:
  uni = df[i].unique()
  print(i)
  print(uni, '\n')

checking_status
['<0' '0<=X<200' 'no checking' '>=200']

duration
[ 6. 48. 12. 42. 24. 36. 30. 15.  9. 10.  7. 60. 18. 45. 11. 27.  8. 54.
 20. 14. 33. 21. 16.  4. 47. 13. 22. 39. 28.  5. 26. 72. 40.]

credit_history
['critical/other existing credit' 'existing paid' 'delayed previously'
 'no credits/all paid' 'all paid']

purpose
['radio/tv' 'education' 'furniture/equipment' 'new car' 'used car'
 'business' 'domestic appliance' 'repairs' 'other' 'retraining']

credit_amount
[ 1169.  5951.  2096.  7882.  4870.  9055.  2835.  6948.  3059.  5234.
  1295.  4308.  1567.  1199.  1403.  1282.  2424.  8072. 12579.  3430.
  2134.  2647.  2241.  1804.  2069.  1374.   426.   409.  2415.  6836.
  1913.  4020.  5866.  1264.  1474.  4746.  6110.  2100.  1225.   458.
  2333.  1158.  6204.  6187.  6143.  1393.  2299.  1352.  7228.  2073.
  5965.  1262.  3378.  2225.   783.  6468.  9566.  1961.  6229.  1391.
  1537.  1953. 14421.  3181.  5190.  2171.  1007.  1819.  2394.  8133.
   730.  1164.  5954.  1977.  1526.  3965.  4771.  9436.  3832.  5943.
  1213.  1568.  1755.  2315.  1412. 12612.  2249.  1108.   618.  1409.
   797.  3617.  1318. 15945.  2012.  2622.  2337.  7057.  1469.  2323.
   932.  1919.  2445. 11938.  6458.  6078.  7721.  1410.  1449.   392.
  6260.  7855.  1680.  3578.  7174.  2132.  4281.  2366.  1835.  3868.
  1768.   781.  1924.  2121.   701.   639.  1860.  3499.  8487.  6887.
  2708.  1984. 10144.  1240.  8613.   766.  2728.  1881.   709.  4795.
  3416.  2462.  2288.  3566.   860.   682.  5371.  1582.  1346.  5848.
  7758.  6967.  1288.   339.  3512.  1898.  2872.  1055.  7308.   909.
  2978.  1131.  1577.  3972.  1935.   950.   763.  2064.  1414.  3414.
  7485.  2577.   338.  1963.   571.  9572.  4455.  1647.  3777.   884.
  1360.  5129.  1175.   674.  3244.  4591.  3844.  3915.  2108.  3031.
  1501.  1382.   951.  2760.  4297.   936.  1168.  5117.   902.  1495.
 10623.  1424.  6568.  1413.  3074.  3835.  5293.  1908.  3342.  3104.
  3913.  3021.  1364.   625.  1200.   707.  4657.  2613. 10961.  7865.
  1478.  3149.  4210.  2507.  2141.   866.  1544.  1823. 14555.  2767.
  1291.  2522.   915.  1595.  4605.  1185.  3447.  1258.   717.  1204.
  1925.   433.   666.  2251.  2150.  4151.  2030.  7418.  2684.  2149.
  3812.  1154.  1657.  1603.  5302.  2748.  1231.   802.  6304.  1533.
  8978.   999.  2662.  1402. 12169.  3060. 11998.  2697.  2404.  4611.
  1901.  3368.  1574.  1445.  1520.  3878. 10722.  4788.  7582.  1092.
  1024.  1076.  9398.  6419.  4796.  7629.  9960.  4675.  1287.  2515.
  2745.   672.  3804.  1344.  1038. 10127.  1543.  4811.   727.  1237.
   276.  5381.  5511.  3749.   685.  1494.  2746.   708.  4351.  3643.
  4249.  1938.  2910.  2659.  1028.  3398.  5801.  1525.  4473.  1068.
  6615.  1864.  7408. 11590.  4110.  3384.  2101.  1275.  4169.  1521.
  5743.  3599.  3213.  4439.  3949.  1459.   882.  3758.  1743.  1136.
  1236.   959.  3229.  6199.  1246.  2331.  4463.   776.  2406.  1239.
  3399.  2247.  1766.  2473.  1542.  3850.  3650.  3446.  3001.  3079.
  6070.  2146. 13756. 14782.  7685.  2320.   846. 14318.   362.  2212.
 12976.  1283.  1330.  4272.  2238.  1126.  7374.  2326.  1820.   983.
  3249.  1957. 11760.  2578.  2348.  1223.  1516.  1473.  1887.  8648.
  2899.  2039.  2197.  1053.  3235.   939.  1967.  7253.  2292.  1597.
  1381.  5842.  2579.  8471.  2782.  1042.  3186.  2028.   958.  1591.
  2762.  2779.  2743.  1149.  1313.  1190.  3448. 11328.  1872.  2058.
  2136.  1484.   660.  3394.   609.  1884.  1620.  2629.   719.  5096.
  1244.  1842.  2576.  1512. 11054.   518.  2759.  2670.  4817.  2679.
  3905.  3386.   343.  4594.  3620.  1721.  3017.   754.  1950.  2924.
  1659.  7238.  2764.  4679.  3092.   448.   654.  1238.  1245.  3114.
  2569.  5152.  1037.  3573.  1201.  3622.   960.  1163.  1209.  3077.
  3757.  1418.  3518.  1934.  8318.   368.  2122.  2996.  9034.  1585.
  1301.  1323.  3123.  5493.  1216.  1207.  1309.  2360.  6850.  8588.
   759.  4686.  2687.   585.  2255.  1361.  7127.  1203.   700.  5507.
  3190.  7119.  3488.  1113.  7966.  1532.  1503.  2302.   662.  2273.
  2631.  1311.  3105.  2319.  3612.  7763.  3049.  1534.  2032.  6350.
  2864.  1255.  1333.  2022.  1552.   626.  8858.   996.  1750.  6999.
  1995.  1331.  2278.  5003.  3552.  1928.  2964.  1546.   683. 12389.
  4712.  1553.  1372.  3979.  6758.  3234.  5433.   806.  1082.  2788.
  2930.  1927.  2820.   937.  1056.  3124.  1388.  2384.  2133.  2799.
  1289.  1217.  2246.   385.  1965.  1572.  2718.  1358.   931.  1442.
  4241.  2775.  3863.  2329.   918.  1837.  3349.  2828.  4526.  2671.
  2051.  1300.   741.  3357.  3632.  1808. 12204.  9157.  3676.  3441.
   640.  3652.  1530.  3914.  1858.  2600.  1979.  2116.  1437.  4042.
  3660.  1444.  1980.  1355.  1376. 15653.  1493.  4370.   750.  1308.
  4623.  1851.  1880.  7980.  4583.  1386.   947.   684.  7476.  1922.
  2303.  8086.  2346.  3973.   888. 10222.  4221.  6361.  1297.   900.
  1050.  1047.  6314.  3496.  3609.  4843.  4139.  5742. 10366.  2080.
  2580.  4530.  5150.  5595.  1453.  1538.  2279.  5103.  9857.  6527.
  1347.  2862.  2753.  3651.   975.  2896.  4716.  2284.  1103.   926.
  1800.  1905.  1123.  6331.  1377.  2503.  2528.  5324.  6560.  2969.
  1206.  2118.   629.  1198.  2476.  1138. 14027.  7596.  1505.  3148.
  6148.  1337.  1228.   790.  2570.   250.  1316.  1882.  6416.  6403.
  1987.   760.  2603.  3380.  3990. 11560.  4380.  6761.  4280.  2325.
  1048.  3160.  2483. 14179.  1797.  2511.  1274.  5248.  3029.   428.
   976.   841.  5771.  1555.  1285.  1299.  1271.   691.  5045.  2124.
  2214. 12680.  2463.  1155.  3108.  2901.  1655.  2812.  8065.  3275.
  2223.  1480.  1371.  3535.  3509.  5711.  3872.  4933.  1940.   836.
  1941.  2675.  2751.  6224.  5998.  1188.  6313.  1221.  2892.  3062.
  2301.  7511.  1549.  1795.  7472.  9271.   590.   930.  9283.  1778.
   907.   484.  9629.  3051.  3931.  7432.  1338.  1554. 15857.  1345.
  1101.  3016.  2712.   731.  3780.  1602.  3966.  4165.  8335.  6681.
  2375. 11816.  5084.  2327.   886.   601.  2957.  2611.  5179.  2993.
  1943.  1559.  3422.  3976.  1249.  2235.  1471. 10875.   894.  3343.
  3959.  3577.  5804.  2169.  2439.  2210.  2221.  2389.  3331.  7409.
   652.  7678.  1343.   874.  3590.  1322.  3595.  1422.  6742.  7814.
  9277.  2181.  1098.  4057.   795.  2825. 15672.  6614.  7824.  2442.
  1829.  5800.  8947.  2606.  1592.  2186.  4153.  2625.  3485. 10477.
  1278.  1107.  3763.  3711.  3594.  3195.  4454.  4736.  2991.  2142.
  3161. 18424.  2848. 14896.  2359.  3345.  1817. 12749.  1366.  2002.
  6872.   697.  1049. 10297.  1867.  1747.  1670.  1224.   522.  1498.
   745.  2063.  6288.  6842.  3527.   929.  1455.  1845.  8358.  2859.
  3621.  2145.  4113. 10974.  1893.  3656.  4006.  3069.  1740.  2353.
  3556.  2397.   454.  1715.  2520.  3568.  7166.  3939.  1514.  7393.
  1193.  7297.  2831.   753.  2427.  2538.  8386.  4844.  2923.  8229.
  1433.  6289.  6579.  3565.  1569.  1936.  2390.  1736.  3857.   804.
  4576.]

savings_status
['no known savings' '<100' '500<=X<1000' '>=1000' '100<=X<500']

employment
['>=7' '1<=X<4' '4<=X<7' 'unemployed' '<1']

installment_commitment
[4. 2. 3. 1.]

personal_status
['male single' 'female div/dep/mar' 'male div/sep' 'male mar/wid']

other_parties
['none' 'guarantor' 'co applicant']

residence_since
[4. 2. 3. 1.]

property_magnitude
['real estate' 'life insurance' 'no known property' 'car']

age
[67. 22. 49. 45. 53. 35. 61. 28. 25. 24. 60. 32. 44. 31. 48. 26. 36. 39.
 42. 34. 63. 27. 30. 57. 33. 37. 58. 23. 29. 52. 50. 46. 51. 41. 40. 66.
 47. 56. 54. 20. 21. 38. 70. 65. 74. 68. 43. 55. 64. 75. 19. 62. 59.]

other_payment_plans
['none' 'bank' 'stores']

housing
['own' 'for free' 'rent']

existing_credits
[2. 1. 3. 4.]

job
['skilled' 'unskilled resident' 'high qualif/self emp/mgmt'
 'unemp/unskilled non res']

num_dependents
[1. 2.]

own_telephone
['yes' 'none']

foreign_worker
['yes' 'no']

class
['good' 'bad']

In [12]:
for i in col:
  print(df[i].value_counts(),'\n')

checking_status
no checking    394
<0             274
0<=X<200       269
>=200           63
Name: count, dtype: int64

duration
24.0    184
12.0    179
18.0    113
36.0     83
6.0      75
15.0     64
9.0      49
48.0     48
30.0     40
21.0     30
10.0     28
60.0     13
27.0     13
42.0     11
11.0      9
20.0      8
8.0       7
4.0       6
45.0      5
7.0       5
39.0      5
14.0      4
13.0      4
33.0      3
28.0      3
54.0      2
16.0      2
22.0      2
47.0      1
5.0       1
26.0      1
72.0      1
40.0      1
Name: count, dtype: int64

credit_history
existing paid                     530
critical/other existing credit    293
delayed previously                 88
all paid                           49
no credits/all paid                40
Name: count, dtype: int64

purpose
radio/tv               280
new car                234
furniture/equipment    181
used car               103
business                97
education               50
repairs                 22
domestic appliance      12
other                   12
retraining               9
Name: count, dtype: int64

credit_amount
1478.0    3
1262.0    3
1258.0    3
1275.0    3
1393.0    3
         ..
1459.0    1
882.0     1
3758.0    1
1136.0    1
4576.0    1
Name: count, Length: 921, dtype: int64

savings_status
<100                603
no known savings    183
100<=X<500          103
500<=X<1000          63
>=1000               48
Name: count, dtype: int64

employment
1<=X<4        339
>=7           253
4<=X<7        174
<1            172
unemployed     62
Name: count, dtype: int64

installment_commitment
4.0    476
2.0    231
3.0    157
1.0    136
Name: count, dtype: int64

personal_status
male single           548
female div/dep/mar    310
male mar/wid           92
male div/sep           50
Name: count, dtype: int64

other_parties
none            907
guarantor        52
co applicant     41
Name: count, dtype: int64

residence_since
4.0    413
2.0    308
3.0    149
1.0    130
Name: count, dtype: int64

property_magnitude
car                  332
real estate          282
life insurance       232
no known property    154
Name: count, dtype: int64

age
27.0    51
26.0    50
23.0    48
24.0    44
28.0    43
25.0    41
30.0    40
35.0    40
36.0    39
31.0    38
29.0    37
32.0    34
33.0    33
34.0    32
37.0    29
22.0    27
40.0    25
38.0    24
42.0    22
39.0    21
46.0    18
43.0    17
47.0    17
44.0    17
41.0    17
45.0    15
20.0    14
21.0    14
49.0    14
50.0    12
48.0    12
54.0    10
57.0     9
52.0     9
51.0     8
55.0     8
63.0     8
61.0     7
53.0     7
60.0     6
65.0     5
58.0     5
64.0     5
66.0     5
74.0     4
67.0     3
68.0     3
56.0     3
59.0     3
75.0     2
19.0     2
62.0     2
70.0     1
Name: count, dtype: int64

other_payment_plans
none      814
bank      139
stores     47
Name: count, dtype: int64

housing
own         713
rent        179
for free    108
Name: count, dtype: int64

existing_credits
1.0    633
2.0    333
3.0     28
4.0      6
Name: count, dtype: int64

job
skilled                      630
unskilled resident           200
high qualif/self emp/mgmt    148
unemp/unskilled non res       22
Name: count, dtype: int64

num_dependents
1.0    845
2.0    155
Name: count, dtype: int64

own_telephone
none    596
yes     404
Name: count, dtype: int64

foreign_worker
yes    963
no      37
Name: count, dtype: int64

class
good    700
bad     300
Name: count, dtype: int64

In [11]:
df.corr()

ValueError: could not convert string to float: '<0'